<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--البيت <add name="SMART_HR_DB_2023Entities" connectionString="metadata=res://*/HR_EDB.csdl|res://*/HR_EDB.ssdl|res://*/HR_EDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAA-PC;initial catalog=SMART_HR_DB_2023;persist security info=True;user id=SMART_HR_DB_2023_USER;password=123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     <add name="SMART_HR_DB_2023Entities" connectionString="metadata=res://*/HR_EDB.csdl|res://*/HR_EDB.ssdl|res://*/HR_EDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAA-PC\SQLEXPRESS;initial catalog=SMART_HR_DB_2023;persist security info=True;user id=SMART_HR_DB_2023_USER;password=123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>